* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font: poppins;
}

#main {
  width: 100%;
  height: 50vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:25%;
  background-color: white;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
  z-index: 1;
}
.menu li {
  position: relative;
}

.menu li ul {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100000;
  display: none;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
  padding:0;  
  margin-top: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.sub-menu li {
  display: block;
  padding: 0.5rem 1rem;
}

.sub-menu li:hover a{
  background-color: #ddd;
}
.menu li ul {
  display: none;
}

.menu li:hover ul {
  display: block;
}

.logo img {
  height: 200px;
}
h1 span {
  color: #0b710f;
}
.menu {
  list-style: none; 
  display: flex;
}

.menu li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: gray;
}

a {
  text-decoration: none;
}

.hey {
  color: "#39bfbd";
  font-weight: 600;
  font-size: 1.5em;
  border-bottom: 2px solid #39bfbd;
}

.image {
  width: 300px;
  height: 300px;
}

.image img {
  width: 120%;
  height: 100%;
  object-fit: contain;
}

.Content {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.main-text {
  width: 500px;
  align-content: flex-end;
;
}

.main-text h1 {
  font-size: 3.5em;
  color: #1c3548;
  margin: 0px 0px 10px 0px;
  line-height: 55px;
}

.main-text p {
  color: grey;
}

.btn {
  width: 190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #228b22;
  border-radius: 20px;
}

.btn:hover {
  background-color: #006400;
  transition: all ease 0.2s;
}


.menu li a:hover {
  background-color: #006400;
  color: white;
  box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
  transition: all ease 0.2;
}

.button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 190px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #228b22;
  border-radius: 20px;
  box-shadow: none;
}

.button:hover {
  background-color: #006400;
}

.row-btn {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.spaces{
  width: 30;
  height: 20
}
.modal{
    
}